.mainpage {
    text-align: center;
    position: relative;
}

.background {
    width: 100%;
    height: 300px;
    background-image: url(images/main.jpg);
    background-size: 200px;
}

h1 {
    text-align: center;
}

.icon {
    border-radius: 50%;
    padding: 30px;
}

h2 {
    color: white;
    background-color: #5e5e5e;
    text-align: center;
}

thead {
    font-weight: bold;
    text-align: center;
}

.data {
    font-weight: bold;
}

.biggerdata {
    font-weight: bolder;
}

.skills {
    font-size: 16px;
    font-family: sans-serif;
}

.picofme {
    margin-right: 200px;
    float: right;
    width: 200px;
    height: 220px;
    border-radius: 50%;
    background-image: url(images/silly.jpg);
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
    border-color: white;
    border-style: dashed;
    border-width: 2.5px;
}

.backtotop {
    right: 10px;
    width: 100px;
    height: 100px;
    position: fixed;
    background-image: url(images/backtotop.png);
    margin-right: 10px;
}

.carousel {
    margin: 20px;
    background-color: black;
    border-style: dotted;
    border-width: 10px;
    background: white;
    margin-top: 20px;
    width: 100%;
}

.carousel .item img {
    margin: 0 auto;
    /* Align slide image horizontally center */
}

.cabbage {
    margin-right: 0;
}

.cheetos {
    margin-right: 0;
}
